In [ ]:
%load_ext sql

In [ ]:
# ID와 PW 입력
%sql postgresql://guest:Guest1234@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev

'Connected: guest@dev'

demo tables in raw_data 

- user_session_channel
    - userid integer
    - sessionid varchar(32)
    - channel varchar(32)
    - Primary key (userid, sessionid) 
- session_timestamp 
    - sessionid varchar(32) 
    - ts timestamp

In [ ]:
# 1) sql로 Monthly Active User 세보기
%%sql 

SELECT COUNT(1)
FROM raw_data.session_timestamp;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT COUNT(1)
FROM raw_data.user_session_channel;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(101520,)]

In [ ]:
%%sql

SELECT *
FROM raw_data.user_session_channel
LIMIT 3;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[(1651, '0004289ee1c7b8b08c77e19878106ae3', 'Organic'),
 (1197, '00053f5e11d1fe4e49a221165b39abc9', 'Facebook'),
 (1401, '00056c20eb5a029583db75506953f1d9', 'Facebook')]

In [ ]:
%%sql

SELECT *
FROM raw_data.session_timestamp
LIMIT 3;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
3 rows affected.

[('00029153d12ae1c9abe59c17ff2e0895', datetime.datetime(2019, 10, 18, 14, 14, 5, 100000)),
 ('0004289ee1c7b8b08c77e19878106ae3', datetime.datetime(2019, 11, 16, 21, 20, 14, 447000)),
 ('0006246bee639c7a7b11a08e34dd3cc6', datetime.datetime(2019, 8, 10, 16, 33, 14, 980000))]

In [ ]:
%%sql

SELECT DISTINCT userid
FROM raw_data.user_session_channel
LIMIT 1

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
1 rows affected.

[(59,)]

In [ ]:
%%sql

SELECT to_char(st.ts, 'YYYY-MM') AS date
       , COUNT(DISTINCT userid)
FROM raw_data.session_timestamp st
JOIN raw_data.user_session_channel usc
    ON st.sessionID = usc.sessionID
GROUP BY date
ORDER BY date asc
LIMIT 10;

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
7 rows affected.

[('2019-05', 281),
 ('2019-06', 459),
 ('2019-07', 623),
 ('2019-08', 662),
 ('2019-09', 639),
 ('2019-10', 763),
 ('2019-11', 721)]

In [ ]:
# 2) Python으로 Monthly Active User 세보기

# 2-1) 데이터 프레임 생성
st = %%sql SELECT * FROM raw_data.session_timestamp
st_df = st.DataFrame()

usc = %%sql SELECT * FROM raw_data.user_session_channel
usc_df = usc.DataFrame()

 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.
 * postgresql://guest:***@learnde.cduaw970ssvt.ap-northeast-2.redshift.amazonaws.com:5439/dev
101520 rows affected.

In [ ]:
st_df.head(1)

                          sessionid                      ts
0  00029153d12ae1c9abe59c17ff2e0895 2019-10-18 14:14:05.100

In [ ]:
usc_df.head(1)

   userid                         sessionid  channel
0    1651  0004289ee1c7b8b08c77e19878106ae3  Organic

In [ ]:
# timestamp format 변경
st_df['ConvertTs'] = st_df['ts'].dt.strftime('%Y-%m')
st_df.head(1)

                          sessionid                      ts ConvertTs
0  00029153d12ae1c9abe59c17ff2e0895 2019-10-18 14:14:05.100   2019-10

In [ ]:
import pandas as pd

merge_df = pd.merge(usc_df, st_df, on='sessionid')
merge_df.head(1)

,userid,sessionid,channel,ts,ConvertTs
0,1651,0004289ee1c7b8b08c77e19878106ae3,Organic,2019-11-16 21:20:14.447,2019-11

In [ ]:
merge_df.groupby('ConvertTs')['userid'].nunique()

ConvertTs
2019-05    281
2019-06    459
2019-07    623
2019-08    662
2019-09    639
2019-10    763
2019-11    721
Name: userid, dtype: int64